[submodule ".vim/pack/nachikethas/start/vim-airline"]
	path = .vim/pack/nachikethas/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/nachikethas/start/vim-colors-solarized"]
	path = .vim/pack/nachikethas/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/nachikethas/start/vim-airline-themes"]
	path = .vim/pack/nachikethas/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".vim/pack/nachikethas/start/vim-fugitive"]
	path = .vim/pack/nachikethas/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/nachikethas/start/vim-gitgutter"]
	path = .vim/pack/nachikethas/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/nachikethas/start/YouCompleteMe"]
	path = .vim/pack/nachikethas/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
